.top-section {
    display: flex;
    justify-content: space-evenly;
}

.location-embed {
    height: 60%;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

img {
    width: 10%;
    display: inline-block;
}

.social-row {
    display: flex;
    /* Use flexbox to layout image and text */
    align-items: center;
    /* Align items vertically */
    margin-bottom: 10px;
    /* Space between rows */
}

.social-logo {
    margin-right: 10px;
    /* Space between the logo and text */
}

.social-text {
    margin: 0;
}

.feedback-form {
    display: flex;
    flex-direction: column;
}

.feedback-form h1 {
    text-align: left;
    color: #333;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
}

.feedback-form label {
    color: #666;
}

.feedback-form input[type="email"],
.feedback-form textarea {
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    /* ensures the input takes full width of the form */
    box-sizing: border-box;
}

.feedback-form textarea {
    height: 50vh;
    /* sets height for the textarea */
}

.feedback-form input[type="submit"] {
    padding: 1em;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    /* aligns the submit button to the right */
    transition: background-color 0.3s;
}

.feedback-form input[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (min-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 90vw;
    }

    .top-section {
        flex: 2;
    }

    .feedback-form {
        flex: 1;
    }
}