.logo {
    height: auto;
    width: 20%;
}

/*
font-family: "Sriracha", cursive;
font-family: "Dosis", sans-serif;
font-family: "Sue Ellen Francisco", cursive;
*/

main {
  font-family: "Sriracha", cursive;
}

body {
  font-family: "Dosis", sans-serif;
}
